######################################################
####### .gitignore for resume/cvrltr template
######################################################

#######extra tex files
*.aux
*.log
*.out


########dvi files
*.dvi

